<div
  class="
    flex

    flex-col
    sm:flex-row

    items-stretch
    sm:items-center

    gap-4

    justify-end

    mt-8
    md:mt-10
  "
>

  <!-- Primary Button -->
 <a
  href="https://wa.me/201000000000"
  target="_blank"

  class="
    bg-green-600
md:bg-white
    text-black

    px-6
    md:px-8

    py-3
    md:py-4

    rounded-full

    text-sm
    md:text-base
    lg:text-lg

    font-semibold

    transition-all
    duration-500

    hover:scale-105
    md:hover:bg-green-600

    flex
    items-center
    justify-center

    gap-2
  "
>

  <lucide-angular
    [img]="MessageCircle"
    class="w-5 h-5"
  >
  </lucide-angular>

  <span>
    تواصل معنا
  </span>

</a>

  <!-- Secondary Button -->
  <button
    class="
      bg-red-700/30
    md:bg-white/10

      backdrop-blur-md

      border
      border-white/20

      text-white

      px-6
      md:px-8

      py-3
      md:py-4

      rounded-full

      text-sm
      md:text-base
      lg:text-lg

      font-medium

      transition-all
      duration-500

      md:hover:bg-red-700/20
      hover:scale-105
    "
  >
    شاهد المشروع
  </button>

</div>